@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border;
}

html,
body,
#root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
  @apply antialiased bg-pallette-100
}
