@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {


}

html,
body,
#root {
  /* @apply  box-border; */

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
